            
@*            <table class=gridview height="100%"
      style="width: 100%;background-color:Blue; border-collapse: collapse" cellspacing=0 rules=all 
      border=0>
              <tbody>
                <tr<>
                  <td>2</td>
              </tbody>
            </table>*@
            <div id="imgdiv"><img width="300" id="img" src="../../Content/images/aa.jpg" />
            </div>
            <script type="text/javascript">
                div = document.getElementById("imgdiv");
                img = document.getElementById("img");
                img.width = div.offsetWidth;
            </script>
            